In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
# import os


# print(os.listdir())
dataset = pd.read_csv("../datasets/BitcoinHeistData.csv")
dataset

,address,year,day,length,weight,count,looped,neighbors,income,label
0,111K8kZAEnJg245r2cM6y9zgJGHZtJPy6,2017,11,18,0.008333,1,0,2,1.000500e+08,princetonCerber
1,1123pJv8jzeFQaCV4w644pzQJzVWay2zcA,2016,132,44,0.000244,1,0,1,1.000000e+08,princetonLocky
2,112536im7hy6wtKbpH1qYDWtTyMRAcA2p7,2016,246,0,1.000000,1,0,2,2.000000e+08,princetonCerber
3,1126eDRw2wqSkWosjTCre8cjjQW8sSeWH7,2016,322,72,0.003906,1,0,2,7.120000e+07,princetonCerber
4,1129TSjKtx65E35GiUo4AYVeyo48twbrGX,2016,238,144,0.072848,456,0,1,2.000000e+08,princetonLocky
...,...,...,...,...,...,...,...,...,...,...
2916692,12D3trgho1vJ4mGtWBRPyHdMJK96TRYSry,2018,330,0,0.111111,1,0,1,1.255809e+09,white
2916693,1P7PputTcVkhXBmXBvSD9MJ3UYPsiou1u2,2018,330,0,1.000000,1,0,1,4.409699e+07,white
2916694,1KYiKJEfdJtap9QX2v9BXJMpz2SfU4pgZw,2018,330,2,12.000000,6,6,35,2.398267e+09,white
2916695,15iPUJsRNZQZHmZZVwmQ63srsmughCXV4a,2018,330,0,0.500000,1,0,1,1.780427e+08,white
2916696,3LFFBxp15h9KSFtaw55np8eP5fv6kdK17e,2018,330,144,0.073972,6800,0,2,1.123500e+08,white

In [15]:
# some basic statistics about the dataset's numeric values
dataset.describe().apply(lambda s: s.apply('{0:.2f}'.format))

,year,day,length,weight,count,looped,neighbors,income
count,2916697.00,2916697.00,2916697.00,2916697.00,2916697.00,2916697.00,2916697.00,2916697.00
mean,2014.48,181.46,45.01,0.55,721.64,238.51,2.21,4464889007.19
std,2.26,104.01,58.98,3.67,1689.68,966.32,17.92,162685960669.35
min,2011.00,1.00,0.00,0.00,1.00,0.00,1.00,30000000.00
25%,2013.00,92.00,2.00,0.02,1.00,0.00,1.00,74285590.00
50%,2014.00,181.00,8.00,0.25,1.00,0.00,2.00,199998518.00
75%,2016.00,271.00,108.00,0.88,56.00,0.00,2.00,994000000.00
max,2018.00,365.00,144.00,1943.75,14497.00,14496.00,12920.00,49964398238996.00

In [16]:
# statistics about string values in the dataset
dataset.describe(include=object)

                                   address    label
count                              2916697  2916697
unique                             2631095       29
top     1LXrSb67EaH1LGc6d6kWHq8rgv4ZBQAcpU    white
freq                                   420  2875284

In [17]:
# number of appearances of each unique address in the dataset
dataset["address"].value_counts()

1LXrSb67EaH1LGc6d6kWHq8rgv4ZBQAcpU    420
16cVG72goMe4sNqZhnpmnqfCMZ1uSFbUit    261
12wQZTDmA8onM3sEt4jwcvzDxnNXxD8Vza    207
12YursV58dRT2c9iuZg3jEWfwgTDamBcnd    183
1LEq4WmpCrqBd7V3PywE2nvFUFC3QTe52x    176
                                     ...
125i4zJmnRJL9fuETAet1kHHEtwrSgNMHS      1
1BGePYrm47wavizJsCVYQXxtFiqsGYw6GA      1
3DUiE8cZzKHgckZj8TnBPaHVox6CqPzXPM      1
1MLikbCXzjL9nDWegNvXux9hV2SjjRrz6h      1
1HKvQzPsUEevS8dqSqPL7DxHcwD7eMV7XL      1
Name: address, Length: 2631095, dtype: int64

In [25]:
# exploring the most frequent address in the dataset
# number of transactions per day
dataset.loc[dataset["address"] == "1LXrSb67EaH1LGc6d6kWHq8rgv4ZBQAcpU", "day"].value_counts()

184    2
119    2
145    2
143    2
142    2
      ..
248    1
249    1
250    1
251    1
1      1
Name: day, Length: 356, dtype: int64

In [26]:
%matplotlib inline

dataset["year","day"].value_counts()

KeyError: ('year', 'day')